.slide {
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.slide:not(.active) {
    display: none;
}
.slide.inverted {
    color: white;
}
.slide.shadow {
    text-shadow: 1px 1px 2px black;
}

body.pushable>.pusher {
    background-color: #fbf9f6 !important;
  }

.slide img.ui.image {
    object-fit: cover !important;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 550px;
}
.slide.salmon {
    background: salmon;
}
.faded {
    animation: fade 1s;
}
.blurred {
    animation: blur 0.5s;
}
@keyframes fade {
    from {
        opacity: 0;
   }
    to {
        opcity: 1;
   }
}
@keyframes blur {
    from {
        filter: blur(5px);
   }
    to {
        filter: blur(0);
   }
}