&time_control
 run_days                            = 1,
 run_hours                           = 0,
 run_minutes                         = 0,
 run_seconds                         = 0,
 start_year                          = {{wrf_config.start_date.year}}, {{wrf_config.start_date.year}}, {{wrf_config.start_date.year}},
 start_month                         = {{wrf_config.start_date.month}},     {{wrf_config.start_date.month}},   {{wrf_config.start_date.month}},
 start_day                           = {{wrf_config.start_date.day}},     {{wrf_config.start_date.day}},   {{wrf_config.start_date.day}},
 start_hour                          = 00,     00,   00,
 start_minute                        = 00,     00,   00,
 start_second                        = 00,     00,   00,
 end_year                            = {{wrf_config.end_date.year}}, {{wrf_config.end_date.year}}, {{wrf_config.end_date.year}},
 end_month                           = {{wrf_config.end_date.month}},     {{wrf_config.end_date.month}},   {{wrf_config.end_date.month}},
 end_day                             = {{wrf_config.end_date.day}},     {{wrf_config.end_date.day}},   {{wrf_config.end_date.day}},
 end_hour                            = 00,     00,   00, 
 end_minute                          = 00,     00,   00,
 end_second                          = 00,     00,   00,
 interval_seconds                    = 21600,
 history_interval                    = 60,
 frames_per_outfile                  = 1000,
 restart                             = .false.,
 ! restart                             = .true.,
 restart_interval                    = 720,
 io_form_history                     = 2,
 io_form_restart                     = 2,
 io_form_input                       = 2,
 io_form_boundary                    = 2,
 ! auxinput6_inname                    = 'wrfbiochemi_d<domain>',
 ! auxinput6_inname                    = 'wrfbiochemi_d01',
 ! auxinput7_inname                    = 'wrffirechemi_d<domain>_<date>',
 ! auxinput7_inname                    = 'wrffirechemi_d<domain>',
 ! auxinput8_inname                    = 'wrfchemi_gocart_bg_d<domain>',
 ! auxinput12_inname                   = 'wrf_chem_input',
 auxinput5_interval_m                = 86400,
 auxinput7_interval_m                = 86400,
 auxinput8_interval_m                = 86400,
 io_form_auxinput2                   = 0,
 io_form_auxinput5                   = 0,
 io_form_auxinput6                   = 0,
 io_form_auxinput7                   = 0,
 io_form_auxinput8                   = 0,
 io_form_auxinput12                  = 0,
 debug_level                         = 0,
 auxinput1_inname                    = "met_em.d<domain>.<date>",

 auxinput13_inname                   = 'wrfchemv_d<domain>',
 auxinput13_interval_m               = 86400,
 io_form_auxinput13                  = 0,
/

&dfi_control
/

&domains
 time_step                           = 120,
 time_step_fract_num                 = 0,
 time_step_fract_den                 = 1,
 max_dom                             = 1,

 s_we                                = 1,    1,    1, 
 e_we                                = 150,  262,  160,
 s_sn                                = 1,    1,    1, 
 e_sn                                = 130,  271,   91,
 e_vert                              = 33,   33,   33,
 dx                                  = 27000,  9000,  3000,
 dy                                  = 27000,  9000,  3000,
 
 ! s_we                                = 1, 
 ! e_we                                = 262,
 ! s_sn                                = 1, 
 ! e_sn                                = 271,
 ! e_vert                              = 33,
 ! dx                                  = 9000,
 ! dy                                  = 9000,
 ! reasonable_time_step_ratio          = 14.28
 

 num_metgrid_levels                  = 34,
 num_metgrid_soil_levels             = 4,
 grid_id                             = 1,    2,   3,
 parent_id                           = 0,    1,   2,
 i_parent_start                      = 1,   12,  50, 
 j_parent_start                      = 1,    5, 200, 
 parent_grid_ratio                   = 1,    3,   3, 
 parent_time_step_ratio              = 1,    3,   3,
 p_top_requested                     = 5000,
 feedback                            = 1,
 ! feedback                            = 0,
 smooth_option                       = 0,
 p_top_requested                     = 5000,
 zap_close_levels                    = 50,
 interp_type                         = 1,
 t_extrap_type                       = 2,
 force_sfc_in_vinterp                = 0,
 use_levels_below_ground             = .true.,
 use_surface                         = .true.,
 lagrange_order                      = 1,
 sfcp_to_sfcp                        = .true.,
 /

 &physics
 num_land_cat                        = 21,
 mp_physics                          = 4,        4,        4,
 progn                               = 0,        0,        0,
 ra_lw_physics                       = 1,        1,        1,
 ra_sw_physics                       = 2,        2,        2,
 radt                                = 30,
 sf_sfclay_physics                   = 1,        1,        1,
 sf_surface_physics                  = 2,        2,        2,
 bl_pbl_physics                      = 1,        1,        1,
 bldt                                = 0,        0,        0,
 cu_physics                          = 5,        5,        5, 
 cu_diag                             = 1,
 cudt                                = 0,
 ishallow                            = 0,
 isfflx                              = 1,
 ifsnow                              = 1,
 icloud                              = 1,
 surface_input_source                = 1,
 num_soil_layers                     = 4,
 sf_urban_physics                    = 0,
 mp_zero_out                         = 2,
 mp_zero_out_thresh                  = 1.e-12,
 maxiens                             = 1,
 maxens                              = 3,
 maxens2                             = 3,
 maxens3                             = 16,
 ensdim                              = 144,
 cu_rad_feedback                     = .true.,
 /


 &fdda
 /

 &dynamics
 rk_ord                              = 3,
 w_damping                           = 1,
 diff_opt                            = 1,
 km_opt                              = 4,
 diff_6th_opt                        = 0,       0,    0,
 diff_6th_factor                     = 0.12, 0.12, 0.12,
 base_temp                           = 290.
 damp_opt                            = 0,
 zdamp                               = 5000.,  5000.,  5000.,
 dampcoef                            = 0.01,    0.01,   0.01,
 khdif                               = 0,          0,      0,
 kvdif                               = 0,          0,      0,
 non_hydrostatic                     = .true.,  .true.,   .true.,
 moist_adv_opt                       = 2,    2,   2,  
 scalar_adv_opt                      = 2,    2,   2,
 chem_adv_opt                        = 2,    2,   2,
 tke_adv_opt                         = 2,    2,   2, 
 time_step_sound                     = 4,    4,   4,
 h_mom_adv_order                     = 5,    5,   5,
 v_mom_adv_order                     = 3,    3,   3,
 h_sca_adv_order                     = 5,    5,   5,
 v_sca_adv_order                     = 3,    3,   3,
 /

 &bdy_control
 spec_bdy_width                      = 5,
 spec_zone                           = 1,
 relax_zone                          = 4,
 specified                           = .true., .false., .false.,
 nested                              = .false., .true., .true.,
 /

 &grib2
 /

 &namelist_quilt
 nio_tasks_per_group = 0,
 nio_groups = 1,
 /


 &chem
 kemit                                 = 1,
 ! chem_opt                            = 301,   301,   301,
 chem_opt                              = 401, 	  0,     0,
 ! bioemdt                             = 0,       0,     0,
 photdt                                = 0,       0,     0,
 chemdt                                = 10,       0,     0,
 io_style_emissions                    = 0, 
 emiss_opt                             = 3,       5,     5,
 emiss_opt_vol                         = 0,       0,     0,
 emiss_ash_hgt                         = 20000.,  
 chem_in_opt                           = 0,       0,     0,
 ! chem_in_opt                         = 1,       0,     0,
 ! emiss_inpt_opt                      = 0,       1,     1,
 phot_opt                              = 0,       0,     0,
 gas_drydep_opt                        = 0,       1,     1,
 aer_drydep_opt                        = 1,       1,     1,
 bio_emiss_opt                         = 0,       0,     0,
 ne_area                               = 0,     
 ! dust_opt                            = 1,       
 dust_opt                              = 1,       
 dmsemis_opt                           = 0,       
 seas_opt                              = 0,
 depo_fact                             = 0.25,
 gas_bc_opt                            = 0,       1,     1, 
 gas_ic_opt                            = 0,       1,     1,
 aer_bc_opt                            = 1,       1,     1,
 aer_ic_opt                            = 1,       1,     1,
 gaschem_onoff                         = 0,       1,     1,
 aerchem_onoff                         = 1,       1,     1,
 wetscav_onoff                         = 0,       0,     0,
 cldchem_onoff                         = 0,       0,     0,
 vertmix_onoff                         = 1,       1,     1,
 chem_conv_tr                          = 0,       0,     0,
 conv_tr_wetscav                       = 0,       0,     0,
 conv_tr_aqchem                        = 0,       0,     0,
 biomass_burn_opt                      = 0,       0,     0,
 plumerisefire_frq                     = 30,     30,    30,
 have_bcs_chem                         = .false., .true., .true.,
 aer_ra_feedback                       = 0,      
 ! aer_ra_feedback                     = 0,      
 aer_op_opt                            = 0,       
 opt_pars_out                        = 0,
 diagnostic_chem                     = 0,
 /
