<div class="ui fixed main menu">
    <a class="launch icon item">
        <i class="content icon"></i>
    </a>
    <div class="item">
        <a id="link" href="/" style="color: black;">
            Dustpath
        </a>
    </div>
</div>