<div class="ui vertical inverted sidebar large menu left">
  <div class="item">
    <span style="font-size: 24px">{{ config['APP_TITLE'] }}</span>
  </div>
  <div class="item">
    <a href="{{ url_for('dashboard.index') }}" class="header" style="text-decoration: none;">
      <i class="home icon"></i>
      หน้าหลัก
    </a>
  </div>
  <div class="item">
    <a class="header">
      <i class="map icon"></i>
      แผนที่
    </a>
    <div class="menu">
      <a href="{{ url_for('domains.index') }}" class="item">
        <i class="map icon"></i>โดเมนทั้งหมด
      </a>
      <a href="{{ url_for('domains.record') }}" class="item">
        <i class="map marker alternate icon"></i>บันทึกโดเมน
      </a>
    </div>
  </div>
  <div class="item">
    <a href="{{ url_for('users.record') }}" class="header" style="text-decoration: none;">
      <i class="user icon"></i>
      โปรไฟล์
    </a>
  </div>
  <div class="item">
    <a href="{{ url_for('projects.create') }}" class="header" style="text-decoration: none;">
      <i class="cog icon"></i>
      CreateProject
    </a>
  </div>
</div>