{% extends "base/default-page.html" %}
{% block title %}
คอมไพล์ | {{ config.get('APP_TITLE') }}
{% endblock %}
{% block content %}
<div class="ui vertical masthead segment">
  <div class="ui padding-left aligned container" style="margin-bottom: 1%;">
    <div class="ui teal clearing segment" style="margin-top: 7%;margin-bottom:25%;">
      <div class="ui left aligned container" style="margin-bottom: 1%;">
        <h1 style="color: rgb(0, 0, 0);left: 50%;">
          คอมไพล์
        </h1>
      </div>
    </div>
  </div>
</div>

{% endblock %}