{% extends "base/default-page.html" %}
{% block title %}
หน้าหลัก | {{ config.get('APP_TITLE') }}
{% endblock %}
{% block content %}
<div class="ui vertical masthead segment">
  <div class="ui padding-left aligned container" style="margin-bottom: 1%;">
    <div class="ui teal clearing segment" style="margin-top: 7%;margin-bottom:25%;">
      <div class="ui left aligned container" style="margin-bottom: 1%;">
        <h1>
          <h1 style="color: rgb(0, 0, 0);left: 50%;">
            หน้าหลัก
          </h1>
        </h1>
        
      </div>
      <a class="ui primary icon top right pointing big button" href="{{url_for('compile.index')}}">
        <i class="sign in alternate icon"></i>
        <span class="text">เริ่มการคอมไพล์</span>
      </a>
    </div>
  </div>
</div>    
{% endblock %}
