{% extends "base/default-page.html" %}
{% block content %}
<div class="header1">
  <div class="title center">
    <h1>ยินดีต้อนรับสู่ ทางของฝุ่น</h1>
    <h3>Welcome to Dustpath Application</h3>
    <h3>ระบบจำลองการเคลื่อนตัวของฝุ่น PM 2.5</h3>
    <br>
      <a class="ui primary icon top right pointing big button" href="{{url_for('dashboard.index')}}">
        <i class="sign in alternate icon"></i>
        <span class="text">เข้าสู่หน้าหลัก</span>
      </a>
  </div>
</div>
{% endblock %}