{% extends "base/default-page.html" %}
{% block content %}
<div class="pusher">
  <div class="ui vertical masthead segment" style="background-color: rgba(242,245,245,0.8)">
    <div class="ui container">
      <div class="ui teal segment" style="margin-top:7%;margin-bottom:100%;">
        <h1>
          WRF Configuration
        </h1>
        <div class="ui divider">
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
          <div class="ui">
            <table id="mytable" class="ui teal celled table">
              <thead>
                <tr>
                  <th>name</th>
                  <th>start_date</th>
                  <th>end_date</th>
                  <th>max_domain</th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                <tr>
                  <td>
                    <div class="left floated left aligned two wide column">
                      <a class="right aligned content" id="namelist" style="color: black;">
                        {{ project.name }}
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="left floated left aligned two wide column">
                      <a class="right aligned content" id="namelist" style="color: black;">
                        {{ project.wrf_config.start_date }}
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="left floated left aligned two wide column">
                      <a class="right aligned content"  style="color: black;">
                        {{ project.wrf_config.end_date }}
                      </a>
                    </div>
                  </td>
                  <td>
                    {{ project.wrf_config.max_domain }}
                  </td>
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}